html, body{
  clear: both;
  margin: 0;
  padding: 0;
  height: 100%;
}
#line1{
  height: 20px;
  width: 50%;
  float:left;
  background-color: #0E4D96;
}
#line2{
  height: 20px;
  width: 50%;
  float: left;
  background-color: #2E2E2E;
}
#column1{
  order: 1;
  width: 50%;
  height: auto;
  overflow: auto;
}
#column2{
  order: 2;
  width: 50%;
  overflow: auto;
}
#column2 h2 {
  padding-top: 20px;
  color: #333;
  font-size: 2em;
  flex-direction: row;
}
#bottom-triangle {
width: 0;
height: 0;
z-index: 999;
position: relative;
float: right;
border-style: solid;
border-width: 50px 50px 0 50px;
border-color: #0E4D96 transparent transparent transparent;
}
#separator{
  height: 5px;
  width: 65%;
  background-color: #0E4D96;
  left: 5px;
  position: relative;
}
#separator2{
  height: 5px;
  width: 65%;
  background-color: #2E2E2E;
  left: 5px;
  position: relative;
}

#top-slide{
  width: 100%;
  background-position: top;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
#top-slide p {
  font-size: 6vw;
  color: #FFF;
  font-family: arial;
  margin-top: 5%;
  font-weight: bold;
  left: 25%;
  display: block;
  position: absolute;
  z-index: 5;
}
#top-slide span{
  opacity: 0.4;
  font-size: 9vw;
  color: #FFF;
  position: absolute;
  display: block;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
  left: 10%;
  z-index: -5;
}
#video-header-background {
  position: absolute;
  transform: translateY(-20%);
  width: 100%;
  height: auto;
  z-index: -999;
}
#resume_content video {
  width: 100%;
  margin-top: 0;
}

#header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0E4D96;
  min-height: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
 }

 #icon_header {
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
  padding-top: 20px;
  width: 100%;
 }
#icon_header i {
   color: #F8F8F9;
   padding-left: 20px;
 }
h1, h2{
  font-family: arial;
  margin: 0;
  color: #F8F8F9;
  text-align: center;
  vertical-align: center;
}

#avatar > img{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.experiences_list, .studies_list{
  list-style-type: none;
}
#resume_content {
  background-color: #2E2E2E;
  color: #F8F8F9;
  font-family: arial;
  font-size: 1em;
  height: 100%;
}
#resume_content > p {
  font-weight: lighter;
  padding: 15px 15px 15px 15px;
}
.experiences_list {
 padding-bottom: 20px;
 font-family: arial;
 font-weight: bold;
 font-size: 16px;
}
.experiences_list li {
  padding-bottom: 10px;
  padding-left: 50px;
}
.studies_list {
 padding-bottom: 20px;
 font-family: arial;
 font-weight: bold;
 font-size: 16px;
}
.studies_list li {
  padding-bottom: 10px;
  padding-left: 50px;
}
.light-font {
  font-weight: lighter;
}
.italic{
  font-style: italic;
}
.ml-20{
  margin-left: 20px;
}

.center-horizontal {
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
}
.button_style {
  background-color: #4CAF50;
  width: 250px;
  height: 100px;
  color: #fff;
  border: none;
  box-shadow: 5px 15px 20px #888888;
}
.button_style:hover{
  width: 500px;
  height: 200px;
  background-color: #333;
  color: #fff;
  border: none;
}

@media (max-width: 600px) {
  #column1{
    width: 100%;
    height: auto;
  }
  #column2{
    width: 100%;
  }
  #line1{
    display: none;
  }
  #line2{
    display: none;
  }
  #bottom-triangle {
    display: none;
  }
  #separator{
    height: 5px;
    width: 80%;
    background-color: #0E4D96;
    left: 5px;
    position: relative;
  }
  #separator2{
    height: 5px;
    width: 80%;
    background-color: #2E2E2E;
    left: 5px;
    position: relative;
  }
  #top-slide{
    width: 100%;
    background-position: top;
    min-height: 150px;
    position: relative;
    overflow: hidden;
  }
}
